/* this project is named DirtButton */
/* Adds dirt buttons */

	#DirtButton

	{ 
	width: 200px;
 background-image: url(img/db.png
  height: 150px;
	text-shadow: 2.4px 2.4px #44423e;
	color: #cec642;
	border-color: #cec642;
  	}

	 #DirtButton:hover

	{ 
	width: 200px;
 background-image: url(img/db1.png
  height: 150px;
	text-shadow: 2.4px 2.4px #44423e;
	color: #cec642;
	border-color: #cec642;
  	}