#splash {
     color: #FFFF00;
     font-size: 75%;
     font-family:'volter';
     text-shadow:1.3px 1.3px #3F3F33;
     padding: 67px;
	 font-size-adjust: 10px 10px;
     position: absolute;
	 right: 6%;
	/* left: -10%;*/
	 top: -30%;
	
}
.pop {
   animation: pop 0.58s infinite;
   -webkit-animation: pop 0.58 infinite;
}
@keyframes pop {
   from {
     transform:scale(0.95)
   }
   50% {
     transform:scale(1)
   }
   to {
     transform:scale(0.95)
   }
}
@-webkit-keyframes pop {
   from {
     -webkit-transform:scale(0.95)
   }
   50% {
     -webkit-transform:scale(1)
   }
   to {
     -webkit-transform:scale(0.95)
   }
}
.tilt {
   -ms-transform: rotate(-25deg);
   -webkit-transform: rotate(-25deg);
   transform: rotate(-25deg);
}
