.entrada1 {
        padding: 2.0%;
		border-color: #cdc4cc #cdc4cc #cdc4cc #cdc4cc;
		background-color: #474647;
		font-family:'volter';
		color: yellow;
		height:10%;
		width: 57%;
		border-style: outset;
		text-shadow:1.3px 1.3px #3F3F33;
		text-align: center;
     font-size: 80%;
}
#buttonalign
{
  align: left
  }
}
.cube { position: relative; top: 200px; } .rightFace,
.leftFace,
.topFace div {
    padding: 10px; width: 180px; height: 180px; } .rightFace,
.leftFace,
.topFace {
    position: absolute; } .leftFace {
    -webkit-transform: skewY(30deg); -moz-transform: skewY(30deg); background-image: url(../img/block.png); }
 .rightFace {
    -webkit-transform: skewY(-30deg); -moz-transform: skewY(-30deg); background-image: url(../img/block.png); left: 200px; } .topFace div {
    -webkit-transform: skewY(-30deg) scaleY(1.16); -moz-transform: skewY(-30deg) scaleY(1.16); background-image: url(../img/block1.png); font-size: 0.862em; } .topFace {
    -webkit-transform: rotate(60deg); -moz-transform: rotate(60deg); top: -157px; left: 100px; }




.NewDemo

	{ 
	padding: 4%;
		background-color: #958681;
		color:#FFFFFF;
		width: 23%;
		height: 23%;
		font-family:'volter';
		text-shadow: 1.3px 1.3px #3F3F33;
		font-size: 74%;
		border-style: outset;
		border-color:  #bdb2ad #292829 #292829 #bdb2ad;
        alignment-adjust: center;
		}


/*.NewDemo:hover

	{ 
	font-size: 74%;
		background-color: #73656b;
	    color: #cec642;
		text-shadow:1.4px 1.4px #3F3F33;
		border-style: inset;
		border-color: #292829 #bdb2ad #bdb2ad #292829;
}

*/
.c
{
  float: middle;
}
.textStyle
{
  
color:#FFEA66;
font-size: 82%;
}
#title
{
  width: 60%;
  height: 20%;
}



#NewChangelogLayout

	{ 
	width: 79%;
	text-align: center;
	background-color: #8d7e79;
    height: 100%;
	text-shadow: 1.3px 1.3px #44423e;
	color: #fff;
	border-color: #bdb2ad #958E95 #958E95 #bdb2ad;
    border-style: outset;
	
  	}

form

	{ 
	font-size: 80%;
	width: 60%;
	background-color: #8d7e79;
    height: 80%;
	text-shadow: 1.3px 1.3px #44423e;
	color: #fff;
	text-align: center;
	border-color: #bdb2ad #958E95 #958E95 #bdb2ad;
	/* First is top,second is right,third is bottom,four is left,*/
	border-style: outset;
		}
		
#NewLayout

	{ 
	width: 100%;
	background-color: #8d7e79;
    height: 100%;
	text-shadow: 1.3px 1.3px #44423e;
	color: #fff;
	border-color: #bdb2ad #cdc4cc #958E95 #bdb2ad;
	/* First is top,second is right,third is bottom,four is left,*/
	border-style: outset;
  	border-radius:30px;
		}  
	/*	input:hover{
		color: yellow;
		background-color: #73656b;
		
		}

*/



/*Downloadslayout*/

#DownloadsLayout

	{ 
	padding: 1.5%;
	width: 80%;
	background-color: #8d7e79;
    height: 100%;
	text-shadow: 1.3px 1.3px #44423e;
	color: #fff;
	border-color: #bdb2ad #cdc4cc #958E95 #bdb2ad;
	/* First is top,second is right,third is bottom,four is left,*/
	border-style: outset;
	 
  	}
	
	#DownloadSubMenu

	{ 
	padding: 1.7%;
	width: 60%;
	background-color: #73656b;
    height: 100%;
	align: center;
	text-shadow: 1.3px 1.3px #44423e;
	border-color: #bdb2ad #cdc4cc #958E95 #bdb2ad;

    border-style: inset;
	 
  	}
.img
{
 border-width: 10%
 border-height: 10%
border-radius: 160px;
border-style: inset;
 
}
/*New About layoutImg*/
#img

{

border-color: #B6AEB8 #B6AEB8 #B6AEB8 #B6AEB8;
height: 10%;
width:  10%;
padding: 1%
animation-delay: 20%;
}

#img:hover
{
border-style: inset;
border-radius: 160px;
border-color: #B6AEB8 #B6AEB8 #B6AEB8 #B6AEB8;
}
/*
@media screen and (max-width: 800px) {
	 */
	 
#NewAboutLayout

	{ 
	width: 80%;
	background-color: #8d7e79;
    height: 85%;
	text-shadow: 1.3px 1.3px #44423e;
	color: #fff;
	border-style: outset;
	border-color: #bdb2ad #958E95 #958E95 #bdb2ad;
    box-sizing: border-box;
	font-size: 100%;
border-radius: 2%;
 	}

#ts
{
font-size: 16px;
}
*/
	/* Splash Text */
#splash1 {
     color: #FFD000;
     font-size: 5%;
     font-family:'volter';
     text-shadow:1.3px 1.3px #3F3F33;
     align: right;
     
}
.pop {
   animation: pop 0.58s infinite;
   -webkit-animation: pop 0.58 infinite;
}
@keyframes pop {
   from {
     transform:scale(0.95)
   }
   50% {
     transform:scale(1)
   }
   to {
     transform:scale(0.95)
   }
}
@-webkit-keyframes pop {
   from {
     -webkit-transform:scale(0.95)
   }
   50% {
     -webkit-transform:scale(1)
   }
   to {
     -webkit-transform:scale(0.95)
   }
}
.tilt {
   -ms-transform: rotate(-25deg);
   -webkit-transform: rotate(-25deg);
   transform: rotate(-25deg);
}
		
	  #NewTextLayout

	{ 
	width: 80%;
	background-color: #8d7e79;
    height:100%;
	text-shadow: 1.3px 1.3px #44423e;
    border-style: outset;
	color: #fff;
	border-color: #bdb2ad #958E95 #958E95 #bdb2ad;
	text-decoration: none; 
    outline:none; 
	display:block;  
border-width: 3 3%; 
font-size: 90%;
border-radius: 2%;
left: 0;   /* top border only */ font-weight:normal
  	}
	
	
	
			
	summary:hover{
		font-size: 50%;
		background-color: #73656b;
	    color: #cec642;
		text-shadow:3.3px 3.3px #3F3F33;
		border-style: inset;
		border-color: #292829 #bdb2ad #bdb2ad #292829;
}
		 summary
     {
            padding: 1.5%;
		background-color: #958681;
		color:#FFFFFF;
		width: 20%;
		height: 10%;
		font-family:'volter';
		text-shadow: 1.3px 1.3px #3F3F33;
		font-size: 50%;
		border-style: outset;
		border-color:  #bdb2ad #292829 #292829 #bdb2ad;
         } 
		 
	/*	 summary:active
		 {
		   background-color: #73656b;
	    color: #cec642;
		text-shadow:3.3px 3.3px #3F3F33;
		border-style: inset;
		#292829 #bdb2ad #bdb2ad #292829;
		 } */
@font-face {
  font-family:volter;
  src: url('../fonts/volter.ttf');
}
@font-face {
  font-family:mcpe;
  src: url('fonts/../mcpe.ttf');
}
body {
        font-size: 80%;
		background-image: url(../img/mbg.png);
		font-family:'volter';
		text-shadow: 1.3px 1.3px #3F3F33;
		color: white;
		word-spacing: 1px;
    
/*Anti-aliasing*/
width: auto;
height: auto;
margin: 0;
padding: 0; 
text-rendering: optimizeLegibility; 
text-rendering: geometricPrecision;
font-smooth: always;
font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
-webkit-font-smoothing: antialiased;
-webkit-font-smoothing: subpixel-antialiased;
} #content {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div.title {
  text-align: center;
}
#bod {
		background-image: url(img/bg2.png);
		width:100%;
		height:500px;
		color:#fff;
}
#pbg {
	 	background-image: url(img/bg2.png);
}
#mc {
  font-family:mcpe;
}
/* De registro unicamente */
.boton {
      padding: 2.0%;
		background-color: #958681;
		color:#FFFFFF;
		width: 23%;
		height: 10%;
		font-family:'volter';
		text-shadow: 1.3px 1.3px #3F3F33;
	font-size: 82%;
		border-style: outset;
      border-radius: 2%;
      border-width:  1px;
  border-color:  #bdb2ad #292829  #292829 #bdb2ad;
/*	 letter-spacing: 1px; */
}
.boton:hover{
       
        font-size: 82%;
		background-color: #73656b;
	    color: #cec642;
		text-shadow:1.4px 1.4px #3F3F33;
		border-style: inset;
	border-color:  #292829 #bdb2ad #bdb2ad #292829;
}
/*.boton:active {
       
		background-color: #73656b;
	    color: #cec642;
		text-shadow:1.4px 1.4px #3F3F33;
		border-style: inset;
	border-color:	#292829 #bdb2ad #bdb2ad #292829;
} */
.entrada {
        padding: 1.9%;
		border-color: #cdc4cc #cdc4cc #cdc4cc #cdc4cc;
		background-color: #474647;
		font-family:'volter';
		color: yellow;
		height:10%;
		width: 17%;
		border-style: outset;
		text-shadow:1.3px 1.3px #3F3F33;
		text-align: center;
     font-size: 80%;
}
#Button {
        padding: 2.0%;
		background-color: #958681;
		color:#FFFFFF;
		width: 40%;
		height: 15%;
		font-family:'volter';
		text-shadow: 1.3px 1.3px #3F3F33;
		font-size: 80%;
		border-style: outset;
		border-width: 1px;
		border-color:  #bdb2ad #292829  #292829 #bdb2ad;
		}
#Button:hover{
		background-color: #73656b;
	    color: #cec642;
		border-style: inset;
		border-color: #292829 #bdb2ad #bdb2ad #292829;
}
#Button:active {
		background-color: #73656b;
	    color: #cec642;
		border-style: inset;
		#292829 #bdb2ad #bdb2ad #292829;
}
